@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE HTML>
<!--
    Parallelism by HTML5 UP
    html5up.net | 
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Parallelism by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
</head>
<body>
      
    
            <section class="jumbotron text-center rounded" style="background-color:cadetblue;">
                <div class="container">
                    <h1 class="jumbotron-heading">BuyerSeller App</h1>
                    <p class="lead">Sell Your Services, Get more leads.</p>
                    <hr class="my-1 col-md-6" />
                    <p class="lead text-muted">I am a</p>
                    <p>
                        <a asp-controller="Service" asp-action="CreateService" class="btn btn-primary my-2 col-md-2">Seller</a>
                        <a asp-controller="Service" asp-action="Index" class="btn btn-secondary my-2 col-md-2">Buyer</a>
                    </p>
                </div>
            </section>

</body>
</html>
